.comment {
  border-bottom: 1px solid black;
  padding-bottom: 8px;

  .meta {
    .author {
      display: block;
      color: #444444;
    }

    .dateModified {
      display: block;
      color: #444444;
    }
  }
}