.newComment {
  margin-top: 16px;
  text-align: right;

  textarea {
    width: calc(100% - 8px);
    max-width: calc(100% - 8px);
    background-color: rgba(255, 255, 255, .5);
    transition: background-color .25s;
    border: 1px solid black;
    margin: 4px;

    &:hover, &:focus {
      background-color: rgba(255, 255, 255, .75);
    }
  }

  input[type="submit"] {
    &:hover {
      background-color: rgba(255, 255, 255, .75);
    }
  }
}